.container {
  font-size: 16px;

  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column-reverse;

  position: relative;

  // touch-action: pan-x pan-y;
  touch-action: none;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
  flex: 1;
  touch-action: none;
  user-select: none;
}
