@import 'core';

.button {
  @include button;
}

.bottom-container {
  display: flex;
}

.bottom-main {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  padding-left: 0; // TODO do this cleaner
}

.field-label {
  @include field-label;
}
