@import 'core';

@mixin outer {
  $margin: 1em;
  position: fixed;
  right: 0;
  margin: $margin;
  border: 2px solid white;
  overflow: scroll;
  background: black;
  max-width: calc(100dvw - 2 * $margin);
}

.outer-top {
  @include outer;
  top: 0;
}

.outer-bottom {
  @include outer;
  bottom: 0;
}

.inner {
  display: flex;
  touch-action: pan-x;
}
